{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Think&Coffe'House</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        /* Estilos para el menú desplegable */
        .usuario-menu {
            display: none;
            position: absolute;
            right: 0;
            top: 100%;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            border-radius: 5px;
            padding: 10px;
            min-width: 180px;
            z-index: 1000;
        }

        .usuario-menu a {
            display: block;
            padding: 8px;
            color: #333;
            text-decoration: none;
        }

        .usuario-menu a:hover {
            background-color: #f0f0f0;
        }

        .usuario-info {
            cursor: pointer;
            color: white;
            font-weight: bold;
            padding: 0 10px;
        }

        #nombre-usuario {
            color: white;
        }
        /*Justificar el contenido descripcion tipo de grano*/
        .entrada_contenido p {
        text-align: justify;
        }

        /* Animación para el artículo */
        .article-animado {
            opacity: 0;
            transform: translateX(-50%);
            transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
        }

        .article-visible {
            opacity: 1;
            transform: translateX(0);
        }
    </style>
</head>

<body>

    <header class="header">

        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="{% url 'index'%}">
                    <h1 class="logo_nombre no-margin centrar-texto">Think&<span class="logo_bold">Coffe</span>'house</h1>
                </a>

                <nav class="navegacion">
                    <a href="{% url 'nosotros' %}" class="navegacion_enlace">Nosotros</a>
                    <a href="#" class="navegacion_enlace">Productos</a>
                    <a href="{% url 'contacto' %}" class="navegacion_enlace">Contacto</a>
                    <a href="{% url 'login' %}" id="login-link" class="navegacion_enlace">Iniciar Sesión</a>
                    
                    <div id="usuario-info" class="usuario-info" style="display: none; position: relative;">
                        <span id="nombre-usuario"></span>
                        <div class="usuario-menu">
                            <a href="#" id="update-password">Cambiar contraseña</a>
                            <a href="#" id="logout">Cerrar sesión</a>
                            <a href="#" id="delete-account">Eliminar cuenta</a>
                        </div>
                    </div>
                </nav>
                
            </div>
        </div>

        <div class="header_texto">
            <h2 class="no_margin">Tienda de café de calidad y nuevos sabores</h2>
            <p class="no_margin">Disfruta de una deliciosa taza de cafe en tus mañanas</p>
        </div>
    </header>

    <div class="contenedor contenido-principal">
        <main class="blog">
            <h3 class="centrar-texto">Nuestros tipos de café</h3>

            <article class="entrada">
                <div class="entrada_imagen">
                    <img src="{% static 'img/producto1.jpg'%}" alt="imagen blog">
                </div>

                <div class="entrada_contenido">
                    <h4 class="no-margin">Granos de Café molido</h4>
                    <p>En Think&Coffe'House, nuestro café molido se obtiene de granos 
                        de calidad superior, molidos al instante para preservar su 
                        frescura. Ideal para aquellos que buscan una experiencia intensa
                         y de sabor inmediato.</p>
                        <a href="#" class="boton boton--primario">Leer Entrada</a>
                </div>
            </article>

            <article class="entrada">
                <div class="entrada_imagen">
                    <img src="{% static 'img/producto2.jpg'%}" alt="imagen blog">
                </div>

                <div class="entrada_contenido">
                    <h4 class="no-margin">Grano de Café Tostados</h4>
                    <p>El café tostado de Think&Coffe'House destaca por su proceso de 
                        tostado medio, ofreciendo una mezcla equilibrada de notas dulces
                        y aromáticas. Perfecto para quienes disfrutan de un café robusto, 
                        con cuerpo y carácter.</p>
                        <a href="#" class="boton boton--primario">Leer Entrada</a>
                </div>
            </article>

            <article class="entrada">
                <div class="entrada_imagen">
                    <img src="{% static 'img/producto3.jpg'%}" alt="imagen blog">
                </div>

                <div class="entrada_contenido">
                    <h4 class="no-margin">Grano de Café tostado ligero</h4>
                    <p>El café tostado ligero de Think&Coffe'House es ideal para paladares
                        más delicados, con un tostado suave que resalta sus notas afrutadas 
                        y florales. Una opción sofisticada y refrescante para disfrutar en 
                        cualquier momento del día.</p>
                        <a href="#" class="boton boton--primario">Leer Entrada</a>
                </div>
            </article>

        </main>

        <aside class="sidebar">
            <h3>Nuestros Productos</h3>

            <ul class="producto no-padding">
                <li class="widget-producto">
                    <h4 class="no-margin">Café Golden</h4>
                    <p class="widget-producto__label">Precio:
                        <span class="widget-producto__info">$3.000</span>
                    </p>
                    <p class="widget-producto__label">Cantidad:
                        <span class="widget-producto__info">10</span>
                    </p>
                    <a href="{% url 'cafegolden'%}" class="boton boton--secundario">Más Información</a>
                </li>

                <li class="widget-producto">
                    <h4 class="no-margin">Café Premium</h4>
                    <p class="widget-producto__label">Precio:
                        <span class="widget-producto__info">$3.000</span>
                    </p>
                    <p class="widget-producto__label">Cantidad:
                        <span class="widget-producto__info">8</span>
                    </p>
                    <a href="{% url 'cafepremium'%}" class="boton boton--secundario">Más Información</a>
                </li>

                <li class="widget-producto">
                    <h4 class="no-margin">Café Elite</h4>
                    <p class="widget-producto__label">Precio:
                        <span class="widget-producto__info">$3.500</span>
                    </p>
                    <p class="widget-producto__label">Cantidad:
                        <span class="widget-producto__info">4</span>
                    </p>
                    <a href="{% url 'cafeelite'%}" class="boton boton--secundario">Más Información</a>
                </li>

                <li class="widget-producto">
                    <h4 class="no-margin">Café Power</h4>
                    <p class="widget-producto__label">Precio:
                        <span class="widget-producto__info">$2.000</span>
                    </p>
                    <p class="widget-producto__label">Cantidad:
                        <span class="widget-producto__info">6</span>
                    </p>
                    <a href="{% url 'cafepower'%}" class="boton boton--secundario">Más Información</a>
                </li>

                <li class="widget-producto">
                    <h4 class="no-margin">Café Ultimate</h4>
                    <p class="widget-producto__label">Precio:
                        <span class="widget-producto__info">$4.000</span>
                    </p>
                    <p class="widget-producto__label">Cantidad:
                        <span class="widget-producto__info">5</span>
                    </p>
                    <a href="{% url 'cafeultimate'%}" class="boton boton--secundario">Más Información</a>
                </li>

                <li class="widget-producto">
                    <h4 class="no-margin">Café Ultimate Platino</h4>
                    <p class="widget-producto__label">Precio:
                        <span class="widget-producto__info">$4.500</span>
                    </p>
                    <p class="widget-producto__label">Cantidad:
                        <span class="widget-producto__info">16</span>
                    </p>
                    <a href="{% url 'cafeultimateplatino'%}" class="boton boton--secundario">Más Información</a>
                </li>

                <li class="widget-producto">
                    <h4 class="no-margin">Café Ultimate Premium</h4>
                    <p class="widget-producto__label">Precio:
                        <span class="widget-producto__info">$4.500</span>
                    </p>
                    <p class="widget-producto__label">Cantidad:
                        <span class="widget-producto__info">20</span>
                    </p>
                    <a href="{% url 'cafeultimatepremium'%}" class="boton boton--secundario">Más Información</a>
                </li>

                <li class="widget-producto">
                    <h4 class="no-margin">Café Divino</h4>
                    <p class="widget-producto__label">Precio:
                        <span class="widget-producto__info">$3.000</span>
                    </p>
                    <p class="widget-producto__label">Cantidad:
                        <span class="widget-producto__info">23</span>
                    </p>
                    <a href="{% url 'cafedivino'%}" class="boton boton--secundario">Más Información</a>
                </li>

                <li class="widget-producto">
                    <h4 class="no-margin">Café Hacking</h4>
                    <p class="widget-producto__label">Precio:
                        <span class="widget-producto__info">$2.000</span>
                    </p>
                    <p class="widget-producto__label">Cantidad:
                        <span class="widget-producto__info">Sin Stock</span>
                    </p>
                    <a href="{% url 'cafehacking'%}" class="boton boton--secundario">Más Información</a>
                </li>

            </ul>
        </aside>
    </div>

    <footer class="footer">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="index.html">
                    <h1 class="logo_nombre no-margin centrar-texto">Think&<span class="logo_bold">Coffe</span>'house</h1>
                </a>

                <nav class="navegacion">
                    <a href="#" class="navegacion_enlace">Nosotros</a>
                    <a href="#" class="navegacion_enlace">Productos</a>
                    <a href="#" class="navegacion_enlace">Contacto</a>
                </nav>
            </div>
        </div>
    </footer>
    
    <script src="{% static 'js/user.js' %}"></script>
    <script src="{% static 'js/animacion.js' %}"></script>
</body>
</html>
