{% load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Think&Coffe'House</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header class="header">

        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="{% url 'index'%}">
                    <h1 class="logo_nombre no-margin centrar-texto">Think&<span class="logo_bold">Coffe</span>'house</h1>
                </a>

                <nav class="navegacion">
                    <a href="#" class="navegacion_enlace">Nosotros</a>
                    <a href="#" class="navegacion_enlace">Productos</a>
                    <a href="#" class="navegacion_enlace">Contacto</a>
                </nav>
            </div>
        </div>

        <div class="header_texto">
            <h2 class="no_margin">Tienda de café de calidad y nuevos sabores</h2>
            <p class="no_margin">Disfruta de una deliciosa taza de cafe en tus mañanas</p>
        </div>
    </header>

    <div class="contenedor contenido-principal">
        <main class="blog">
            <h3 class="centrar-texto">Nuestros tipos de café</h3>

            <article class="entrada">
                <div class="entrada_imagen">
                    <img src="{% static 'img/producto1.jpg'%}" alt="imagen blog">
                </div>

                <div class="entrada_contenido">
                    <h4 class="no-margin">Granos de Café molido</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        In sit vitae aspernatur nihil optio vel exercitationem. 
                        Recusandae impedit aspernatur officiis distinctio ex dolorum eum, ab fugit voluptate 
                        maxime! Amet, neque.</p>
                        <a href="#" class="boton boton--primario">Leer Entrada</a>
                </div>
            </article>

            <article class="entrada">
                <div class="entrada_imagen">
                    <img src="{% static 'img/producto2.jpg'%}" alt="imagen blog">
                </div>

                <div class="entrada_contenido">
                    <h4 class="no-margin">Grano de Café Tostados</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        In sit vitae aspernatur nihil optio vel exercitationem. 
                        Recusandae impedit aspernatur officiis distinctio ex dolorum eum, ab fugit voluptate 
                        maxime! Amet, neque.</p>
                        <a href="#" class="boton boton--primario">Leer Entrada</a>
                </div>
            </article>

            <article class="entrada">
                <div class="entrada_imagen">
                    <img src="{% static 'img/producto3.jpg'%}" alt="imagen blog">
                </div>

                <div class="entrada_contenido">
                    <h4 class="no-margin">Grano de Café tostado ligero</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        In sit vitae aspernatur nihil optio vel exercitationem. 
                        Recusandae impedit aspernatur officiis distinctio ex dolorum eum, ab fugit voluptate 
                        maxime! Amet, neque.</p>
                        <a href="#" class="boton boton--primario">Leer Entrada</a>
                </div>
            </article>

        </main>

        <aside class="sidebar">
            <h3>Nuestros Productos</h3>

            <ul class="producto no-padding">
                <li class="widget-producto">
                    <h4 class="no-margin">Café Golden</h4>
                    <p class="widget-producto__label">Precio:
                        <span class="widget-producto__info">$10.000</span>
                    </p>
                    <p class="widget-producto__label">Cantidad:
                        <span class="widget-producto__info">10</span>
                    </p>
                    <a href="#" class="boton boton--secundario">Más Información</a>
                </li>

                <li class="widget-producto">
                    <h4 class="no-margin">Café Premium</h4>
                    <p class="widget-producto__label">Precio:
                        <span class="widget-producto__info">$16.000</span>
                    </p>
                    <p class="widget-producto__label">Cantidad:
                        <span class="widget-producto__info">8</span>
                    </p>
                    <a href="#" class="boton boton--secundario">Más Información</a>
                </li>

                <li class="widget-producto">
                    <h4 class="no-margin">Café Elite</h4>
                    <p class="widget-producto__label">Precio:
                        <span class="widget-producto__info">$20.000</span>
                    </p>
                    <p class="widget-producto__label">Cantidad:
                        <span class="widget-producto__info">4</span>
                    </p>
                    <a href="#" class="boton boton--secundario">Más Información</a>
                </li>

                <li class="widget-producto">
                    <h4 class="no-margin">Café Power</h4>
                    <p class="widget-producto__label">Precio:
                        <span class="widget-producto__info">$22.000</span>
                    </p>
                    <p class="widget-producto__label">Cantidad:
                        <span class="widget-producto__info">6</span>
                    </p>
                    <a href="#" class="boton boton--secundario">Más Información</a>
                </li>

                <li class="widget-producto">
                    <h4 class="no-margin">Café Ultimate</h4>
                    <p class="widget-producto__label">Precio:
                        <span class="widget-producto__info">$25.000</span>
                    </p>
                    <p class="widget-producto__label">Cantidad:
                        <span class="widget-producto__info">5</span>
                    </p>
                    <a href="#" class="boton boton--secundario">Más Información</a>
                </li>

                <li class="widget-producto">
                    <h4 class="no-margin">Café Ultimate Platino</h4>
                    <p class="widget-producto__label">Precio:
                        <span class="widget-producto__info">$26.000</span>
                    </p>
                    <p class="widget-producto__label">Cantidad:
                        <span class="widget-producto__info">16</span>
                    </p>
                    <a href="#" class="boton boton--secundario">Más Información</a>
                </li>

                <li class="widget-producto">
                    <h4 class="no-margin">Café Ultimate Premium</h4>
                    <p class="widget-producto__label">Precio:
                        <span class="widget-producto__info">$30.000</span>
                    </p>
                    <p class="widget-producto__label">Cantidad:
                        <span class="widget-producto__info">20</span>
                    </p>
                    <a href="#" class="boton boton--secundario">Más Información</a>
                </li>

                <li class="widget-producto">
                    <h4 class="no-margin">Café Divino</h4>
                    <p class="widget-producto__label">Precio:
                        <span class="widget-producto__info">$32.000</span>
                    </p>
                    <p class="widget-producto__label">Cantidad:
                        <span class="widget-producto__info">23</span>
                    </p>
                    <a href="#" class="boton boton--secundario">Más Información</a>
                </li>

                <li class="widget-producto">
                    <h4 class="no-margin">Café Hacking</h4>
                    <p class="widget-producto__label">Precio:
                        <span class="widget-producto__info">$36.000</span>
                    </p>
                    <p class="widget-producto__label">Cantidad:
                        <span class="widget-producto__info">Sin Stock</span>
                    </p>
                    <a href="#" class="boton boton--secundario">Más Información</a>
                </li>

            </ul>
        </aside>
    </div>

    <footer class="footer">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="index.html">
                    <h1 class="logo_nombre no-margin centrar-texto">Think&<span class="logo_bold">Coffe</span>'house</h1>
                </a>

                <nav class="navegacion">
                    <a href="#" class="navegacion_enlace">Nosotros</a>
                    <a href="#" class="navegacion_enlace">Productos</a>
                    <a href="#" class="navegacion_enlace">Contacto</a>
                </nav>
            </div>
        </div>
    </footer>
</body>
</html>